body {
    background-color:bisque;
    margin:auto;
    width:940px;
}

h1 {
    background-color:blue;
    color:white;
    border-bottom:5px solid black;
    text-align:center;
    max-width:75%;
}
